<h1>Listing reviews</h1>
 
<table>
  <tr>
    <th>Hotel</th>
    <th>Rating</th>
    <th>Text</th>
  </tr>
 
  <% @reviews.each do |review| %>
    <tr>
      <td><%= review.hotel %></td>
      <td><%= review.rating %></td>
      <td><%= review.text %></td>
    </tr>
  <% end %>
</table>
