<%= render file: "database/_searchform" %>

<h3 id="navbar" class="page-header">Best hotel deals near you</h3>
<div class="bs-example">
    <div class="row">
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://www.rocsgrp.com/wp-content/gallery/aritson-rome/lobby-ariston-hotel-rome-002-300x300.jpg" alt="Picture of hotel">
                <div class="caption">
                    <h3>Hotel name</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Reserve</a> <a href="#" class="btn btn-default" role="button">More Info</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://www.rarebits.co.uk/uploaded/images/1322946913_tyn-rhos-snowdonia-hotel-exterior-300x300.jpg" alt="Picture of hotel">
                <div class="caption">
                    <h3>Hotel name</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Reserve</a> <a href="#" class="btn btn-default" role="button">More Info</a></p>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="http://www.otal.com/wp-content/uploads/2012/02/Le-Victoria-Hotel.jpg" alt="">
                <div class="caption">
                    <h3>Hotel name</h3>
                    <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    <p><a href="#" class="btn btn-primary" role="button">Reserve</a> <a href="#" class="btn btn-default" role="button">More Info</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
