<% if $cc_errors == true %>
<span class="label label-danger">Invalid Credit Card Information</span>
<% end %>

<h1>Payment for your Reservation</h1>

<%= form_tag :controller => 'reservations', :action => 'validate_credit_card', :method => 'post' do %>
<div class="jumbotron">

<%= render file: ($cc_default == true ? '/reservations/_defaultcreditcard' : '/reservations/_creditcard') %>

<% end %>

<% if current_user.payment_info.blank? == false %>
  <%= button_to 'Use Default Information', :controller => "reservations", :action => "fill_default_info" %>
<% end %>

</div>
