<h1 style="color:turquoise">Congratulations!
<br>
<small>You have successfully reserved your stay at </small><small style="color:turquoise"><%= $name %></small></h1>

<br>
<br><br>
Feel free to review this hotel after your stay. <br>
If you would like to make changes to your reservation, please go to <%= link_to "your profile", welcome_user_profile_path  %>




</body><br>

