<h1>Welcome#index</h1>
<p>Find me in app/views/profiles/index.html.erb</p>

<table>
  <tr>
    <th>Hotel </th>
    <th>Arrival Date </th>
    <th>Departure Date </th>
  </tr>
  <tr>
    <td>Holiday Inn</td>
    <td>Nov 10</td>
    <td>Nov 17</td>
  </tr>
</table>

<%= link_to 'Change Password', edit_user_registration_path %>
<p></p>
<%= link_to 'New review', new_review_path %>
