<h1 style="color:turquoise">Congratulations! <br>
<small>You have successfully reserved your stay at </small>
<small>Comfort Inn</small><!--hotel name goes here-->
<small> in </small>
<small>Hawaii, USA.</small></h1> <!--location goes here-->

<br>
<br><br>
Feel free to review this hotel after your stay. <br>
If you would like to make changes to your reservation, please go to your Profile page.




</body><br>

