<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

<%= render file: "database/_searchform" %>

<div>
	<%= @search_params[:name] %>
	<%= @search_params[:city] %>
</div>

<p> <%= @hotelError %> </p>

